<html>
	<head></head>
	<body>
		<a href="/create1MList">Create 1M elements unsorted list</a><br/>
		<a href="/create10MList">Create 10M elements unsorted list</a><br/>
		<a href="/create1MSortedList">Create 1M elements sorted list</a><br/>
		<a href="/create10MSortedList">Create 10M elements sorted list</a><br/>
		<br/><br/>
		<a href="/create10MListDb">Create 5M elements list stored in database</a><br/>
		<a href="/createDbIndex">Create index in database</a><br/>
		<a href="/countDb">Count elements in Db</a><br/>
		<a href="/emptyDb">Empty Db</a><br/>
		<a href="/dropDb">Drop Db collection</a><br/>
		<a href="/dropAllDb">Drop Db</a><br/>
		<br/><br/>
		<a href="/benchmark1M">Benchmark 1M unsorted list</a><br/>
		<a href="/benchmark10M">Benchmark 10M unsorted list</a><br/>
		<a href="/benchmark1MSorted">Benchmark 1M sorted list</a><br/>
		<a href="/benchmark10MSorted">Benchmark 10M sorted list</a><br/>
		<br/><br/>
		<a href="/benchmark10MDb">Benchmark 10M elements list stored in database</a><br/>
	</body>
</html>